<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.dao.ReportDetailMapper" >
  <resultMap id="BaseResultMap" type="com.system.pojo.ReportDetail" >
    <constructor >
      <idArg column="DETAIL_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="REPORT_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="CREATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="DEPARTMENT_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="DEPARTMENT_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STAFF_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STAFF_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DAY_LATE_COUNT" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="DAY_EARLY_COUNT" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="MONTH_LATE_COUNT" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="MONTH_EARLY_COUNT" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="YEAR_LATE_COUNT" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="YEAR_EARLY_COUNT" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    DETAIL_ID, REPORT_ID, CREATE_DATE, DEPARTMENT_ID, DEPARTMENT_NAME, STAFF_ID, STAFF_NAME, 
    DAY_LATE_COUNT, DAY_EARLY_COUNT, MONTH_LATE_COUNT, MONTH_EARLY_COUNT, YEAR_LATE_COUNT, 
    YEAR_EARLY_COUNT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from report_detail
    where DETAIL_ID = #{detailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from report_detail
    where DETAIL_ID = #{detailId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.system.pojo.ReportDetail" >
    insert into report_detail (DETAIL_ID, REPORT_ID, CREATE_DATE, 
      DEPARTMENT_ID, DEPARTMENT_NAME, STAFF_ID, 
      STAFF_NAME, DAY_LATE_COUNT, DAY_EARLY_COUNT, 
      MONTH_LATE_COUNT, MONTH_EARLY_COUNT, YEAR_LATE_COUNT, 
      YEAR_EARLY_COUNT)
    values (#{detailId,jdbcType=INTEGER}, #{reportId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{departmentId,jdbcType=INTEGER}, #{departmentName,jdbcType=VARCHAR}, #{staffId,jdbcType=VARCHAR}, 
      #{staffName,jdbcType=VARCHAR}, #{dayLateCount,jdbcType=INTEGER}, #{dayEarlyCount,jdbcType=INTEGER}, 
      #{monthLateCount,jdbcType=INTEGER}, #{monthEarlyCount,jdbcType=INTEGER}, #{yearLateCount,jdbcType=INTEGER}, 
      #{yearEarlyCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.system.pojo.ReportDetail" >
    insert into report_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        DETAIL_ID,
      </if>
      <if test="reportId != null" >
        REPORT_ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="departmentId != null" >
        DEPARTMENT_ID,
      </if>
      <if test="departmentName != null" >
        DEPARTMENT_NAME,
      </if>
      <if test="staffId != null" >
        STAFF_ID,
      </if>
      <if test="staffName != null" >
        STAFF_NAME,
      </if>
      <if test="dayLateCount != null" >
        DAY_LATE_COUNT,
      </if>
      <if test="dayEarlyCount != null" >
        DAY_EARLY_COUNT,
      </if>
      <if test="monthLateCount != null" >
        MONTH_LATE_COUNT,
      </if>
      <if test="monthEarlyCount != null" >
        MONTH_EARLY_COUNT,
      </if>
      <if test="yearLateCount != null" >
        YEAR_LATE_COUNT,
      </if>
      <if test="yearEarlyCount != null" >
        YEAR_EARLY_COUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        #{detailId,jdbcType=INTEGER},
      </if>
      <if test="reportId != null" >
        #{reportId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="departmentName != null" >
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null" >
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="dayLateCount != null" >
        #{dayLateCount,jdbcType=INTEGER},
      </if>
      <if test="dayEarlyCount != null" >
        #{dayEarlyCount,jdbcType=INTEGER},
      </if>
      <if test="monthLateCount != null" >
        #{monthLateCount,jdbcType=INTEGER},
      </if>
      <if test="monthEarlyCount != null" >
        #{monthEarlyCount,jdbcType=INTEGER},
      </if>
      <if test="yearLateCount != null" >
        #{yearLateCount,jdbcType=INTEGER},
      </if>
      <if test="yearEarlyCount != null" >
        #{yearEarlyCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.system.pojo.ReportDetail" >
    update report_detail
    <set >
      <if test="reportId != null" >
        REPORT_ID = #{reportId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="departmentId != null" >
        DEPARTMENT_ID = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="departmentName != null" >
        DEPARTMENT_NAME = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null" >
        STAFF_ID = #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null" >
        STAFF_NAME = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="dayLateCount != null" >
        DAY_LATE_COUNT = #{dayLateCount,jdbcType=INTEGER},
      </if>
      <if test="dayEarlyCount != null" >
        DAY_EARLY_COUNT = #{dayEarlyCount,jdbcType=INTEGER},
      </if>
      <if test="monthLateCount != null" >
        MONTH_LATE_COUNT = #{monthLateCount,jdbcType=INTEGER},
      </if>
      <if test="monthEarlyCount != null" >
        MONTH_EARLY_COUNT = #{monthEarlyCount,jdbcType=INTEGER},
      </if>
      <if test="yearLateCount != null" >
        YEAR_LATE_COUNT = #{yearLateCount,jdbcType=INTEGER},
      </if>
      <if test="yearEarlyCount != null" >
        YEAR_EARLY_COUNT = #{yearEarlyCount,jdbcType=INTEGER},
      </if>
    </set>
    where DETAIL_ID = #{detailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.system.pojo.ReportDetail" >
    update report_detail
    set REPORT_ID = #{reportId,jdbcType=INTEGER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      DEPARTMENT_ID = #{departmentId,jdbcType=INTEGER},
      DEPARTMENT_NAME = #{departmentName,jdbcType=VARCHAR},
      STAFF_ID = #{staffId,jdbcType=VARCHAR},
      STAFF_NAME = #{staffName,jdbcType=VARCHAR},
      DAY_LATE_COUNT = #{dayLateCount,jdbcType=INTEGER},
      DAY_EARLY_COUNT = #{dayEarlyCount,jdbcType=INTEGER},
      MONTH_LATE_COUNT = #{monthLateCount,jdbcType=INTEGER},
      MONTH_EARLY_COUNT = #{monthEarlyCount,jdbcType=INTEGER},
      YEAR_LATE_COUNT = #{yearLateCount,jdbcType=INTEGER},
      YEAR_EARLY_COUNT = #{yearEarlyCount,jdbcType=INTEGER}
    where DETAIL_ID = #{detailId,jdbcType=INTEGER}
  </update>

  <select id="selectReportDetailData" resultMap="BaseResultMap" parameterType = "java.util.Map">
    SELECT
    <include refid="Base_Column_List" />
    FROM REPORT_DETAIL
    WHERE REPORT_ID = #{reportId,jdbcType=INTEGER}
    ORDER BY STAFF_ID
  </select>
</mapper>