<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.dao.StaffMapper" >
  <resultMap id="BaseResultMap" type="com.system.pojo.Staff" >
    <constructor >
      <idArg column="STAFF_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STAFF_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SEX" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DEPARTMENT_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ROLE" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="GRADE" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="BIRTHDAY" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="TEL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="EMAIL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="HOBBY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PASSWORD" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    STAFF_ID, STAFF_NAME, SEX, DEPARTMENT_ID, ROLE, GRADE, BIRTHDAY, TEL, EMAIL, HOBBY, 
    PASSWORD
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.system.pojo.StaffExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from staff
    where STAFF_ID = #{staffId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from staff
    where STAFF_ID = #{staffId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.system.pojo.StaffExample" >
    delete from staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.system.pojo.Staff" >
    insert into staff (STAFF_ID, STAFF_NAME, SEX, 
      DEPARTMENT_ID, ROLE, GRADE, 
      BIRTHDAY, TEL, EMAIL, 
      HOBBY, PASSWORD)
    values (#{staffId,jdbcType=VARCHAR}, #{staffName,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{departmentId,jdbcType=INTEGER}, #{role,jdbcType=INTEGER}, #{grade,jdbcType=DATE}, 
      #{birthday,jdbcType=DATE}, #{tel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{hobby,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.system.pojo.Staff" >
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="staffId != null" >
        STAFF_ID,
      </if>
      <if test="staffName != null" >
        STAFF_NAME,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="departmentId != null" >
        DEPARTMENT_ID,
      </if>
      <if test="role != null" >
        ROLE,
      </if>
      <if test="grade != null" >
        GRADE,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
      <if test="tel != null" >
        TEL,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="hobby != null" >
        HOBBY,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="staffId != null" >
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null" >
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="role != null" >
        #{role,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=DATE},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.system.pojo.StaffExample" resultType="java.lang.Integer" >
    select count(*) from staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update staff
    <set >
      <if test="record.staffId != null" >
        STAFF_ID = #{record.staffId,jdbcType=VARCHAR},
      </if>
      <if test="record.staffName != null" >
        STAFF_NAME = #{record.staffName,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        SEX = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentId != null" >
        DEPARTMENT_ID = #{record.departmentId,jdbcType=INTEGER},
      </if>
      <if test="record.role != null" >
        ROLE = #{record.role,jdbcType=INTEGER},
      </if>
      <if test="record.grade != null" >
        GRADE = #{record.grade,jdbcType=DATE},
      </if>
      <if test="record.birthday != null" >
        BIRTHDAY = #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.tel != null" >
        TEL = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.hobby != null" >
        HOBBY = #{record.hobby,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update staff
    set STAFF_ID = #{record.staffId,jdbcType=VARCHAR},
      STAFF_NAME = #{record.staffName,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=VARCHAR},
      DEPARTMENT_ID = #{record.departmentId,jdbcType=INTEGER},
      ROLE = #{record.role,jdbcType=INTEGER},
      GRADE = #{record.grade,jdbcType=DATE},
      BIRTHDAY = #{record.birthday,jdbcType=DATE},
      TEL = #{record.tel,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      HOBBY = #{record.hobby,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.system.pojo.Staff" >
    update staff
    <set >
      <if test="staffName != null" >
        STAFF_NAME = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        DEPARTMENT_ID = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="role != null" >
        ROLE = #{role,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        GRADE = #{grade,jdbcType=DATE},
      </if>
      <if test="birthday != null" >
        BIRTHDAY = #{birthday,jdbcType=DATE},
      </if>
      <if test="tel != null" >
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        HOBBY = #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where STAFF_ID = #{staffId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.system.pojo.Staff" >
    update staff
    set STAFF_NAME = #{staffName,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      DEPARTMENT_ID = #{departmentId,jdbcType=INTEGER},
      ROLE = #{role,jdbcType=INTEGER},
      GRADE = #{grade,jdbcType=DATE},
      BIRTHDAY = #{birthday,jdbcType=DATE},
      TEL = #{tel,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      HOBBY = #{hobby,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR}
    where STAFF_ID = #{staffId,jdbcType=VARCHAR}
  </update>

  <update id="updateMassage" parameterType="Map" >
    update staff
    set TEL = #{tel,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      HOBBY = #{hobby,jdbcType=VARCHAR}
    where STAFF_ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findAllStaff" resultType="String" parameterType="int" >
    select STAFF_ID
    from staff
    where DEPARTMENT_ID = #{department} and ROLE != 1
  </select>



</mapper>